@use 'src/styles/_vars';

.results{

  &__searchBar{
    width:90%;
    margin:2rem auto;

    @media (min-width: vars.$breakpoint-phone) {
      width:60%;
    }
    @media (min-width: vars.$breakpoint-tablet) {
      width:50%;
    }
    @media (min-width: vars.$breakpoint-desktop) {
      width:40%;
    }
    @media (min-width: vars.$max-width) {
      width: calc(0.4 * 1300);
    }
  }

  &__views{
    display:flex;
    flex-direction:column;
    justify-content:center;

    @media (min-width: vars.$breakpoint-tablet) {
      flex-direction:row;
      align_items: center;
    }
  }
}
