@use 'src/styles/_vars';

.resultsProfile{
  display: flex;
  background-color: #f0f0f0;
  box-shadow: 4px 3px 9px rgba(0,0,0,.25);
  margin: 1rem 0.2rem;
  justify-content: space-between;
  border-radius: 20px;
  align-items:center;

  &__picture{
    width: 100px;
    height:100px;
    margin-left:0.2rem;

    @media (min-width: vars.$breakpoint-phone) {
      width: 120px;
      height:120px;
      margin-left:0.4rem;
    }

    @media (min-width: vars.$breakpoint-tablet) {
      width: 150px;
      height:150px;
      margin-left:0.5rem;
    }

    img{
    width:100%;
    height:100%;
    border-radius: 50%;
    object-fit:cover;
    }
  }
 
  &__text{
    width: calc(100% - 115px);
    text-align: left;
    position: relative;
    font-size:0.9rem;
    padding-bottom:4rem;
    padding-right:1rem;
    
    @media (min-width: vars.$breakpoint-phone) {
      width: calc(100% - 140px);
    }
    @media (min-width: vars.$breakpoint-tablet) {
      width: calc(100% - 175px);
    }

    &__role{
      color: vars.$dark-blue;
      font-weight: bold;
      padding-top: 1.1rem;
      font-size: 1.1em;
      text-align: right;
      padding-right: 1.3rem;
      font-family: vars.$font-title;

      &--hidden{
        visibility: hidden,
      }
    }

    &__name, &__link{
      font-family: vars.$font-text;
      text-align: center;
    }

    &__name{
      font-size: 1.5em;
      padding-top: 1rem;
      text-transform: capitalize;
      padding-bottom:0.8rem;

      @media only screen and (min-width: vars.$breakpoint-tablet) {
        padding-top: 1.2rem;
        padding-bottom:0.5rem;
      }
    }

    &__biography{
      font-family: vars.$font-text;
      text-align: justify;
      line-height: 1.2rem;
    }
    &__link{
      border: solid vars.$dark-blue 1px;
      padding: .3rem .2rem;
      width: 60%;
      border-radius: 15px;
      color: vars.$dark-blue;
      font-size:1em;
      position: absolute;
      bottom:1rem;
      left:20%;
      
    }
  }
}


