@use 'src/styles/_vars';

.profileButton {

  display: flex;
  color: vars.$light-color;
  font-size: 1.3rem;
  border:none;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius:0.5rem;
  text-shadow: 2px 4px 3px rgba(256,256,256,0.3);
  // display:inline;
  width:80%;
  vertical-align: center;
  margin-bottom:2rem;
  align-items:center;
  justify-content: center;
  // margin-bottom:1rem;
  // margin:2rem 1rem;

  @media (min-width: vars.$breakpoint-desktop){
    width:30%;
    font-size:1.3rem;
  } 

  &--red{
    background-color: vars.$light-red;
  }

  &--blue{
    background-color: vars.$light-blue;
  }

  &--gray{
    background-color: vars.$light-grey;
    color: vars.$dark-color;
    text-shadow: none;
  }

  &__title {

    font-size: 30px;
    font-weight: 700;
    
  }
}
