@use 'src/styles/vars';

.usersReviews{
  background-color: vars.$light-grey;
  margin-top: 5rem;
  padding: 1rem;
  font-size:1rem;
  justify-content: space-between;

  @media (min-width: vars.$breakpoint-tablet) {
    font-size:1.2rem;
  }

  &__title{
    padding: 1.5em;
    font-size: 1.8em;
    color: vars.$dark-blue;
    font-family: vars.$font-title;
  }

  &__list{
    margin:auto;
    display:flex;
    flex-direction:column;
    justify-content:center ;
    flex-wrap: wrap;
    width: 60%;
    padding-bottom:1.5rem;
    
    @media (min-width: vars.$breakpoint-phone) {
      flex-direction:row;
      width: 95%;
    }

    @media (min-width: vars.$max-width) {
      width:vars.$max-width;
    }


  }

}
