@use 'src/styles/_vars';

.resultsMap{
  text-align: center;
  margin-top: 1em;

  &__map{
    height: 95%;
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 50vh;
    // margin-top: 5%;
    margin: 2rem 1rem
  }
}

#map{
  position: relative;
  overflow: hidden;
  min-height: 50vh;
  margin:1rem;
  
  @media only screen and (min-width: vars.$breakpoint-tablet) {
    height:80vh;
  }
}

@media only screen and (min-width: vars.$breakpoint-tablet) {

  .resultsMap{
    width: 45%;
    order: 2;

    &__map{
      object-fit: cover;
      padding: 3em;
      width:unset;
    }
  }
}
