@use 'src/styles/vars';

.userReview{

  display:flex;
  flex-direction: row;
  align-items: center;
  padding:0.5rem 1rem;
  width:100%;
  justify-content: flex-start;

  @media (min-width: vars.$breakpoint-phone) {
    flex-direction:column;
    justify-content: center;
    width:35%;
  }

  @media (min-width: vars.$breakpoint-tablet) {
    width:20%
  }

  @media (min-width: vars.$breakpoint-desktop) {
    flex-direction:row;
    width:25%;
  }

  @media (min-width: vars.$max-width) {
    width:20%;
  }

  &__image{
    width:90px;
    // margin-bottom: 2em;
    border-radius: 50%;      
    margin-bottom:0;

    @media (min-width: vars.$breakpoint-phone) {
      margin-bottom:1rem;
    }

    @media (min-width: vars.$breakpoint-desktop) {
      margin-bottom:0;
    }
  }

  &__text{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left:1rem;

    @media (min-width: vars.$breakpoint-phone) {
      padding-left:0rem;
    }

    @media (min-width: vars.$breakpoint-desktop) {
      padding-left:1rem;
    }

    &__username{
      color:vars.$dark-blue;
      font-size:1.1em;
      padding-bottom:0.4rem;
      font-family: vars.$font-title;
    }
  
    &__city{
      font-size:0.9em;
      padding-bottom:0.3rem;
      font-family: vars.$font-text;
    }

    &__country{
      font-size:0.9em;
      font-style:italic;
      font-family: vars.$font-text;
    }

  }
}
